<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
    <p><%= article.title %></p>
    <p><%= article.content %></p>

    
<% end %>
